/*
    Document   : redlate/stylesheets/main.css
    Created on : 2015-02-20 01:38 PM
    Author     : blackmickmak
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}

body {
    font-family: arial, san-serif;
    background-color: #d6cdcd;
    color: black;
}

a
{
    color:black; 
    display: inline;

}

a:HOVER {
	color: #c42929;
	display: inline;
}

/*
#header h1 a {
    text-decoration: none;
    color: black;
}
*/

h1, h2, h3, h4 {
    margin-bottom: 0;
}


      

#header {
    background-color: #dde;
    border-top: 3px solid #36c;
    height: 100%;
    overflow:hidden;
    padding: 7px;
    margin-top: 5px;
}

#header h1 {
    font-size: 20px;
    float: left;
    vertical-align: middle;
    margin: 0;
    padding: 0 0 0 .3em;
}

#header li {
    font-size: 14px;
    display: inline;
    padding: .5em;
}

#header ul {
    list-style: none;
    text-align: right;
    float:right;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

#header li a.selected {
    color: black;
    text-decoration: none;
}

table {
  border-collapse: collapse;
  border: 10px solid black;
}

th {
  text-align: left;
  border: 1px solid black;
  background: gray;
  color: black;
  padding: 0.2em;
}

td {
  border: 1px solid black;
  padding: 0.2em;
}

tr {
    border: 2px
    background-color: black;
    color:black;
}

#bottom_left{
	border-bottom-left-radius: 15px;
}

#bottom_right{
	border-bottom-right-radius: 15px;
}


#button{
	border: 2px solid #000000;
	float:left;
	position: relative;
	left: 229px;
	bottom: -20px;
	border-radius: 5px;
	background-color: #cc0323;
	height: 30px;
	width: 150px;
	
}

#button p{
	position: relative;
	bottom: 10px;
	font-size: 0.8em;
	color: #acd1b2;
	text-align: center;
}

.bold{
	font-family: tahoma;
	font-weight: bold;
	font-size: 1.2em;
	font-variant: small-caps;
	color: #ffffff;
}

#footer{
	clear: both;
	position: fixed;
	bottom: -20px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	height: auto;
	background-color: #0000ff;
	color: #ffffff;
	margin: 0 0 .5% 0;
   width: 100%;
   height: 40px;
   top: auto;
   box-shadow: 5px 5px 10px #202020;
}


