<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
	<title>Pick a subreddit</title>
            <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
     <div id="header" class="nav">
          <div id="main" class="content">
	{% for comment in comments %}
		<b>{{ comment[1] }}</b>: {{ comment[0] }}
		<form action="http://api.voicerss.org/" method="POST">
			<input type="hidden" name="src" value="{{ comment[0] }}" />
			<input type="hidden" name="key" value="93d8e21379854c3bb7db099062006d89" />
			<input type="hidden" name="hl" value="{{ lang }}" />
			<input type="image" src="images/s.png" width="16" height="16" />
		</form>
		<br><br>
	{% endfor %}
         </div>
    </div>
  <div id="footer" class="bottom">
       <div id="foot">
        Copyright © 2048 Redlate
    </div>
     
 </div>
</body>
</html>
{% endautoescape %}