<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
	<title>Pick a subreddit</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
   <div id="header" class="nav">
 
    
   <div id="main" class="content"> 
	<center>
	<form action="/topic" method="GET">
		<table>
		<tr><td>
			<input name="sub" />
			<input type="submit" value="view">
		</td></tr>
		<tr><td>
		<table>
		<tr>
			<td>
				<select name="from">
					<option value="en">English [EN]</option>
					<option value="es">Spanish [ES]</option>
					<option value="fr">French [FR]</option>
					<option value="it">Italian [ITA]</option>
					<option value="de">German [GER]</option>
					<option value="ru">Russian [RUS]</option>
				</select>
			</td>
				<td>
				<select name="to">
					<option value="en">English [EN]</option>
					<option value="es">Spanish [ES]</option>
					<option value="fr">French [FR]</option>
					<option value="it">Italian [ITA]</option>
					<option value="de">German [GER]</option>
					<option value="ru">Russian [RUS]</option>
				</select>
			</td>
		</tr>
		</table>
		</td></tr>
		</table>
	</form>
	</center>
   </div>
   </div> 
 <div id="footer" class="bottom">
       <div id="foot">
        Copyright © 2048 Redlate
    </div>
     
 </div>
</body>
</html>
{% endautoescape %}