<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
	<title>subreddit</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
    <div id="header" class="nav">
    <div id="main" class="content">
	<center>
	{% for story in stories %}
		<a href="{{ story[3] }}">{{ story[1] }}</a>
		<form action="http://api.voicerss.org/" method="POST">
			<input type="hidden" name="src" value="{{ story[1] }}" />
			<input type="hidden" name="key" value="93d8e21379854c3bb7db099062006d89" />
			<input type="hidden" name="hl" value="{{ lang }}" />
		<a href="/comments?sub={{ sub }}&from={{ from }}&to={{ to }}&story={{ story[0] }}&lang={{ lang }}"><img src="images/c.png" width="16" height="16" /></a>
			<input type="image" src="images/s.png" width="16" height="16" />
		</form><br><br>

	{% endfor %}
	</center>
     </div>
    </div>
    <div id="footer" class="bottom">
       <div id="foot">
        Copyright © 2048 Redlate
    </div>
     
 </div>
</body>
</html>
{% endautoescape %}